* {
    font-family: 'Times New Roman', Times, serif;
}

body {
    margin: 0%;
}

.hero {
    /* TODO */
    background-image: url(/html/images/room-of-pianos.webp);
    background-color: #cccccc;
    height: 35rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}